<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Escola</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Bem-vindo ao Sistema Escola</h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('professores') }}">Professores</a></li>
            <li><a href="{{ url_for('alunos') }}">Alunos</a></li>
        </ul>
    </nav>
</body>
</html>
